<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>  
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="Lead_SP" value="addSeedWebleads" />
  </appSettings>
  <connectionStrings>
    <!--<add name="Genius_ConnectionString"
      connectionString="server=54.76.41.148;database=GeniusWebLeads;UID=springTest;PWD=password;Connect Timeout=300;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
    <system.webServer>
      <validation validateIntegratedModeConfiguration="false"/>
      <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IHelloService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://pyraleads.diva-cloud.co.uk/HelloService.svc/HelloService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHelloService"
        contract="HelloService.IHelloService" name="BasicHttpBinding_IHelloService" />
    </client>    
  </system.serviceModel>
</configuration>